@import url(https://fonts.googleapis.com/css?family=Signika:400,700|Courgette);

.password-section {
	margin: 0em auto 0;
	width: 100%;
	max-width: 800px;
}

#password {
    display: block;
    margin: .5em auto 0em;
    padding: 0.5em 1em 0.5em 0.7em;
    width: 100%;
    border: none;
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.8);
    font-size: 2em;
    line-height: 0;
		transition: all .5s linear;
}

#password:hover, #password:focus {
	outline: 0;
	transition: all .5s linear;
	box-shadow: inset 0px 0px 10px #ccc;
}

#password-strength-meter {
    /* Reset the default appearance */
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
            
	margin: 0 auto 1em;
	width: 100%;
	height: .5em;
    
    /* Applicable only to Firefox */
	background: none;
	background-color: rgba(0,0,0,0.1);
}

#password-strength-meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(0,0,0,0.1);
}

#password-strength-meter[value="1"] { background: red; } 
#password-strength-meter[value="2"] { background: yellow; } 
#password-strength-meter[value="3"] { background: orange; } 
#password-strength-meter[value="4"] { background: green; }

.strength{
	height:0px;
	width:100%;
	background:#ccc;
	margin-top: -7px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
	transition: height 0.3s;

}
span{
    width:0px;
    height: 7px;
    display: block;
    transition: width 0.3s;
    }